<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    </head>
    <body>
        <%= render 'layouts/navbar/navbar' %>
        <h1><%= @round.name %></h1>
        </br>
        <div class="col-md-6">
            <h2>Matches</h2>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Equipos</th>
                <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <% @teams.each do |team| %>
                    <tr>
                        <th scope="row"><%= team.name %></th>
                        <td><%= team.score %></td> 
                    </tr>
                <% end %>
            </tbody>
        </div>
    </body>
</html>